<h1>Dictionary</h1>

<ul>
  <% @input.each() do |dictionary_entry| %>
  <li><%= dictionary_entry.word() %></li>
  <% end %>
</ul>

<form action="input" method="post">
  <label for="word">Add a word</label>
  <input id="word" name="word" type="text">

  <button type="submit">Go!</button>
</form>
